In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
#needed for Jupyter Notebook, if want plots to show inline
%matplotlib inline 
pd.options.display.max_columns = None
pd.options.display.max_rows = 100

In [2]:
import glob
import re
plt.style.available
plt.style.use('seaborn-colorblind')

In [3]:
from collections import Counter

In [4]:
%whos

Variable   Type      Data/Info
------------------------------
Counter    type      <class 'collections.Counter'>
glob       module    <module 'glob' from '/hom<...>3/lib/python3.6/glob.py'>
np         module    <module 'numpy' from '/ho<...>kages/numpy/__init__.py'>
pd         module    <module 'pandas' from '/h<...>ages/pandas/__init__.py'>
plt        module    <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>
re         module    <module 're' from '/home/<...>da3/lib/python3.6/re.py'>

## Loading data

In [5]:
def read2000sMatches(dirname):
    allFiles = glob.glob(dirname + "/atp_matches_2" + "*.csv")
    matches = pd.DataFrame()
    list_ = list()
    for filen in allFiles:
        df = pd.read_csv(filen,
                         index_col=None,
                         header=0,
                         parse_dates=[0])
                         #date_parser=lambda t:parse(t))
        list_.append(df)
    matches = pd.concat(list_)
    return matches

def read1900sMatches(dirname):
    allFiles = glob.glob(dirname + "/atp_matches_1" + "*.csv")
    matches = pd.DataFrame()
    list_ = list()
    for filen in allFiles:
        df = pd.read_csv(filen,
                         index_col=None,
                         header=0,
                         parse_dates=[0])
                         #date_parser=lambda t:parse(t))
        list_.append(df)
    matches = pd.concat(list_)
    return matches

In [6]:
matches2000s=read2000sMatches('tennis/')
matches1900s=read1900sMatches('tennis/')
matches_SackmannAll = pd.concat([matches1900s,matches2000s])
matches_SackmannAll.shape # (167879, 49)

(167879, 49)

## Take only data with detailed stats

In [7]:
df_stats = matches_SackmannAll[~pd.isnull(matches_SackmannAll['w_ace'])]
df_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81281 entries, 15 to 2823
Data columns (total 49 columns):
tourney_id            81281 non-null object
tourney_name          81281 non-null object
surface               81281 non-null object
draw_size             81281 non-null int64
tourney_level         81281 non-null object
tourney_date          81281 non-null int64
match_num             81281 non-null int64
winner_id             81281 non-null int64
winner_seed           36056 non-null float64
winner_entry          10452 non-null object
winner_name           81281 non-null object
winner_hand           81275 non-null object
winner_ht             78590 non-null float64
winner_ioc            81281 non-null object
winner_age            81268 non-null float64
winner_rank           79430 non-null float64
winner_rank_points    79430 non-null float64
loser_id              81281 non-null int64
loser_seed            19455 non-null float64
loser_entry           17509 non-null object
loser_name            81281 non-null object
loser_hand            81253 non-null object
loser_ht              76733 non-null float64
loser_ioc             81281 non-null object
loser_age             81220 non-null float64
loser_rank            79206 non-null float64
loser_rank_points     79206 non-null float64
score                 81280 non-null object
best_of               81281 non-null int64
round                 81281 non-null object
minutes               78640 non-null float64
w_ace                 81281 non-null float64
w_df                  81281 non-null float64
w_svpt                81281 non-null float64
w_1stIn               81281 non-null float64
w_1stWon              81281 non-null float64
w_2ndWon              81281 non-null float64
w_SvGms               81281 non-null float64
w_bpSaved             81281 non-null float64
w_bpFaced             81281 non-null float64
l_ace                 81281 non-null float64
l_df                  81281 non-null float64
l_svpt                81281 non-null float64
l_1stIn               81281 non-null float64
l_1stWon              81281 non-null float64
l_2ndWon              81281 non-null float64
l_SvGms               81281 non-null float64
l_bpSaved             81281 non-null float64
l_bpFaced             81281 non-null float64
dtypes: float64(29), int64(6), object(14)
memory usage: 31.0+ MB

In [9]:
df_win = df_stats[['tourney_id', 'match_num','tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date',  'score', 'best_of',
       'round', 'minutes','winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'winner_rank', 'winner_rank_points','w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms',
       'w_bpSaved', 'w_bpFaced']]
df_loss = df_stats[['tourney_id','match_num','tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date',  'score', 'best_of',
       'round', 'minutes','loser_id', 'loser_seed',
       'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc',
       'loser_age', 'loser_rank', 'loser_rank_points','l_ace', 'l_df',
       'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved',
       'l_bpFaced']]

### Make 'win' and 'loss' columns compatible

#### Situation by poor concatenation (appending to the right NOT below), without changing column names

In [10]:
df_win_loss = pd.concat([df_win,df_loss],axis=1)
# each row has basic info repeated
# each row has two 'target'

#### Making compatible

In [11]:
df_win.columns = [s.replace("winner_", "") for s in df_win.columns]
df_win.columns = [s.replace("w_", "") for s in df_win.columns]
df_loss.columns = [s.replace("loser_", "") for s in df_win.columns]
df_loss.columns = [s.replace("l_", "") for s in df_win.columns]

df_win['target']=1
df_loss['target']=0

/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ubuntu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [12]:
df_win_loss = pd.concat([df_win,df_loss])

In [13]:
%whos

Variable              Type         Data/Info
--------------------------------------------
Counter               type         <class 'collections.Counter'>
df_lim                DataFrame         surface  winner_rank<...>n[81281 rows x 7 columns]
df_loss               DataFrame         tourney_id  match_nu<...>[81281 rows x 31 columns]
df_stats              DataFrame         tourney_id  tourney_<...>[81281 rows x 49 columns]
df_win                DataFrame         tourney_id  match_nu<...>[81281 rows x 31 columns]
df_win_loss           DataFrame         tourney_id  match_nu<...>162562 rows x 31 columns]
glob                  module       <module 'glob' from '/hom<...>3/lib/python3.6/glob.py'>
matches1900s          DataFrame         tourney_id          <...>110457 rows x 49 columns]
matches2000s          DataFrame         tourney_id          <...>[57422 rows x 49 columns]
matches_SackmannAll   DataFrame         tourney_id          <...>167879 rows x 49 columns]
np                    module       <module 'numpy' from '/ho<...>kages/numpy/__init__.py'>
pd                    module       <module 'pandas' from '/h<...>ages/pandas/__init__.py'>
plt                   module       <module 'matplotlib.pyplo<...>es/matplotlib/pyplot.py'>
re                    module       <module 're' from '/home/<...>da3/lib/python3.6/re.py'>
read1900sMatches      function     <function read1900sMatches at 0x7f040f792bf8>
read2000sMatches      function     <function read2000sMatches at 0x7f040f792c80>

In [14]:
del(matches1900s,matches2000s)

#### Fill missing values

In [15]:
## fill method of entry for most players with 'standard'; mostly missing values
df_win_loss['entry'] = df_win_loss['entry'].fillna('standard')

## better way might be max(33,rank) ## 33 is the minumum non-seeded value
##high positive value because negative associates with better rank
df_win_loss['seed'] = df_win_loss['seed'].fillna(9999)
df_win_loss['seed'] = df_win_loss['seed'].astype(int)

#rank, and rank_points have ~4000 missign out of 162000
df_win_loss[['rank','rank_points']] = df_win_loss.groupby('name')[['rank','rank_points']]\
                                        .transform(lambda x: x.fillna(x.mean()))
#rank, and rank_points have some more missing values: set to maximum ranking and minimum rank points
df_win_loss['rank'] = df_win_loss['rank']\
                                        .transform(lambda x: x.fillna(x.max()))
df_win_loss['rank_points'] = df_win_loss['rank_points']\
                                        .transform(lambda x: x.fillna(x.min()))

#### more filling of missing values

In [16]:
### for this 1st epicycle: don't want score,2 scores missing,, ,

In [17]:
## set 'hand' to U ('unknown') ~35 missing 'hand'
df_win_loss['hand'] = df_win_loss['hand'].fillna('U')

In [18]:
df_win_loss['hand'].value_counts() #R    138155 L     23661 U       746

R    138155
L     23661
U       746
Name: hand, dtype: int64

In [19]:
# set missing height, age  to average for all people ~7000 missing heights, ~100 missing age
df_win_loss[['age','ht']] = df_win_loss[['age','ht']]\
                                        .transform(lambda x: x.fillna(x.mean()))

In [20]:
## set missing minutes to average age of all ~5000 missing minutes
df_win_loss['minutes'] = df_win_loss['minutes']\
                                        .transform(lambda x: x.fillna(x.mean()))

In [21]:
(df_win_loss['age']).value_counts() #87 (most) occurrences of 23.7919
len(df_win_loss.loc[pd.isnull(df_win_loss['age']),'age']) # 0 good
(df_win_loss['ht']).value_counts() #25899 (most) occurrences of 185 (cm)
len(df_win_loss.loc[pd.isnull(df_win_loss['ht']),'ht']) # 0 good

0

## Dummying categorical variables

In [22]:
df_win_loss = pd.concat([df_win_loss,\
                         pd.get_dummies(df_win_loss['surface'])],axis=1)

* Hard      80028 
* Clay      54282 
* Grass     16366 
* Carpet    11736 
* None        150 

Name: surface, dtype: int64

In [23]:
df_win_loss.drop('surface', axis=1,inplace=True)

In [24]:
df_win_loss = pd.concat([df_win_loss,\
                         pd.get_dummies(df_win_loss['hand'])],axis=1)

In [25]:
df_win_loss.drop('hand', axis=1,inplace=True)

In [26]:
df_win_loss = pd.concat([df_win_loss,\
                         pd.get_dummies(df_win_loss['tourney_level'])],axis=1)

In [27]:
df_win_loss.drop('tourney_level', axis=1,inplace=True)

In [28]:
df_win_loss.columns

Index(['tourney_id', 'match_num', 'tourney_name', 'drasize', 'tourney_date',
       'score', 'best_of', 'round', 'minutes', 'id', 'seed', 'entry', 'name',
       'ht', 'ioc', 'age', 'rank', 'rank_points', 'ace', 'df', 'svpt', '1stIn',
       '1stWon', '2ndWon', 'SvGms', 'bpSaved', 'bpFaced', 'target', 'Carpet',
       'Clay', 'Grass', 'Hard', 'None', 'L', 'R', 'U', 'A', 'C', 'D', 'F', 'G',
       'M'],
      dtype='object')

In [29]:
df_win_loss.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162562 entries, 15 to 2823
Data columns (total 42 columns):
tourney_id      162562 non-null object
match_num       162562 non-null int64
tourney_name    162562 non-null object
drasize         162562 non-null int64
tourney_date    162562 non-null int64
score           162560 non-null object
best_of         162562 non-null int64
round           162562 non-null object
minutes         162562 non-null float64
id              162562 non-null int64
seed            162562 non-null int64
entry           162562 non-null object
name            162562 non-null object
ht              162562 non-null float64
ioc             162562 non-null object
age             162562 non-null float64
rank            162562 non-null float64
rank_points     162562 non-null float64
ace             162562 non-null float64
df              162562 non-null float64
svpt            162562 non-null float64
1stIn           162562 non-null float64
1stWon          162562 non-null float64
2ndWon          162562 non-null float64
SvGms           162562 non-null float64
bpSaved         162562 non-null float64
bpFaced         162562 non-null float64
target          162562 non-null int64
Carpet          162562 non-null uint8
Clay            162562 non-null uint8
Grass           162562 non-null uint8
Hard            162562 non-null uint8
None            162562 non-null uint8
L               162562 non-null uint8
R               162562 non-null uint8
U               162562 non-null uint8
A               162562 non-null uint8
C               162562 non-null uint8
D               162562 non-null uint8
F               162562 non-null uint8
G               162562 non-null uint8
M               162562 non-null uint8
dtypes: float64(14), int64(7), object(7), uint8(14)
memory usage: 38.1+ MB

In [30]:
df_pred_cols=df_win_loss[[ 
        'minutes', 
       'ht', 'age', 'rank_points', 'ace', 'df',
       'svpt', '1stIn', '1stWon', '2ndWon', 'SvGms', 'bpSaved', 'bpFaced',
       'Carpet', 'Clay', 'Grass', 'Hard', 'None', 'L', 'R', 'U', 'A',
       'C', 'D', 'F', 'G', 'M']]

## Selecting the time subset of data

### Exploration

In [32]:
df_win_loss.columns

Index(['tourney_id', 'match_num', 'tourney_name', 'drasize', 'tourney_date',
       'score', 'best_of', 'round', 'minutes', 'id', 'seed', 'entry', 'name',
       'ht', 'ioc', 'age', 'rank', 'rank_points', 'ace', 'df', 'svpt', '1stIn',
       '1stWon', '2ndWon', 'SvGms', 'bpSaved', 'bpFaced', 'target', 'Carpet',
       'Clay', 'Grass', 'Hard', 'None', 'L', 'R', 'U', 'A', 'C', 'D', 'F', 'G',
       'M'],
      dtype='object')

In [56]:
# shows that data not easily converted to date
pd.to_datetime(df_win_loss['tourney_date']).unique() 
# this conversion works, have to reassign becuase operation is not inplace
df_win_loss['tourney_date']= pd.to_datetime(df_win_loss['tourney_date'].apply(str))
type(df_win_loss['tourney_date']) #seriers, post-pend '.values':np.ndarray of datetimes
df_win_loss['tourney_date'].apply(lambda x: x.year).unique()
# 1992, 1991, 1993, 1996, 1999, 1994, 1995, 1997, 1998, 1990, 2004,
#        2008, 2007, 2015, 2012, 2003, 2002, 2000, 2001, 2013, 2009, 2017,
#        2014, 2010, 2006, 2005, 2011, 2016, 2018
df_win_loss.groupby(df_win_loss['tourney_date'].apply(lambda x: x.year)).filter()

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [55]:
type(np.max(tourney_date)) #20180521, np.int64
np.min(tourney_date) #19901231

19901231

# Cool python/pandas stuff

In [ ]:
df.groupby([df['Date'].dt.month,df['Date'].dt.day])['Value'].shift()