In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
#needed for Jupyter Notebook, if want plots to show inline
%matplotlib inline

In [18]:
import glob
from parse import *

In [14]:
%%markdown

# Nice function for reading multiple files

# Nice function for reading multiple files

In [21]:
def readAllFiles(dirname):
    allFiles = glob.glob(dirname + "/atp_rankings_" + "*.csv")
    ranks = pd.DataFrame()
    list_ = list()
    for filen in allFiles:
        df = pd.read_csv(filen,
                         index_col=None,
                         header=None,
                         parse_dates=[0])
                         #date_parser=lambda t:parse(t))
        list_.append(df)
    ranks = pd.concat(list_)
    return ranks

def readPlayers(dirname):
    return pd.read_csv(dirname+"/atp_players.csv",
                       index_col=None,
                       header=None,
                       parse_dates=[4],
                       date_parser=lambda t:parse(t))

In [35]:
def readAllMatches(dirname):
    allFiles = glob.glob(dirname + "/atp_matches_" + "*.csv")
    matches = pd.DataFrame()
    list_ = list()
    for filen in allFiles:
        df = pd.read_csv(filen,
                         index_col=None,
                         header=None,
                         parse_dates=[0])
                         #date_parser=lambda t:parse(t))
        list_.append(df)
    matches = pd.concat(list_)
    return matches

In [23]:
ranks = readAllFiles('JeffSackmannData')
!pwd

/home/kuru0004/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

/home/kuru0004/Documents/Git_Repos/mens_tennis_outcomes

In [26]:
ranks.head()

           0  1         2      3
0 2018-01-01  1  104745.0  10645
1 2018-01-01  2  103819.0   9605
2 2018-01-01  3  105777.0   5150
3 2018-01-01  4  100644.0   4610
4 2018-01-01  5  106233.0   4015

In [27]:
ranks.tail()

                0     1         2   3
920537 2009-09-07   996  105799.0  12
920538 2009-09-07   996  105458.0  12
920539 2009-09-07   998  104097.0  12
920540 2009-09-07   999  104024.0  12
920541 2009-09-07  1000  105419.0  12

In [33]:
%%markdown
### For rankings files, the columns are (from readme.md file)
###  _1st column_: ranking_date, _2nd column_: ranking
### _3rd column_: player_id, _4th column_: ranking (ATP Ranks?) 
### Conclusion: whole column seems in order top-to_bottom
    * _I changed the readme.md filename to something else_

### For rankings files, the columns are (from readme.md file)
###  _1st column_: ranking_date, _2nd column_: ranking
### _3rd column_: player_id, _4th column_: ranking (ATP Ranks?)
### Conclusion: whole column seems in order top-to_bottom
    * _I changed the readme.md filename to something else_