In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
#needed for Jupyter Notebook, if want plots to show inline
%matplotlib inline 
pd.options.display.max_columns = None

In [18]:
import glob
from parse import *

In [14]:
%%markdown

# Nice function for reading multiple files

# Nice function for reading multiple files

In [21]:
def readAllFiles(dirname):
    allFiles = glob.glob(dirname + "/atp_rankings_" + "*.csv")
    ranks = pd.DataFrame()
    list_ = list()
    for filen in allFiles:
        df = pd.read_csv(filen,
                         index_col=None,
                         header=None,
                         parse_dates=[0])
                         #date_parser=lambda t:parse(t))
        list_.append(df)
    ranks = pd.concat(list_)
    return ranks

def readPlayers(dirname):
    return pd.read_csv(dirname+"/atp_players.csv",
                       index_col=None,
                       header=None,
                       parse_dates=[4],
                       date_parser=lambda t:parse(t))

In [ ]:
%%markdown
# Looking at rankings file

In [23]:
ranks = readAllFiles('JeffSackmannData')
!pwd

/home/kuru0004/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

/home/kuru0004/Documents/Git_Repos/mens_tennis_outcomes

In [26]:
ranks.head()

           0  1         2      3
0 2018-01-01  1  104745.0  10645
1 2018-01-01  2  103819.0   9605
2 2018-01-01  3  105777.0   5150
3 2018-01-01  4  100644.0   4610
4 2018-01-01  5  106233.0   4015

In [27]:
ranks.tail()

                0     1         2   3
920537 2009-09-07   996  105799.0  12
920538 2009-09-07   996  105458.0  12
920539 2009-09-07   998  104097.0  12
920540 2009-09-07   999  104024.0  12
920541 2009-09-07  1000  105419.0  12

In [33]:
%%markdown
### For rankings files, the columns are (from readme.md file)
###  _1st column_: ranking_date, _2nd column_: ranking
### _3rd column_: player_id, _4th column_: ranking (ATP Ranks?) 
### Conclusion: whole column seems in order top-to_bottom
    * _I changed the readme.md filename to something else_

### For rankings files, the columns are (from readme.md file)
###  _1st column_: ranking_date, _2nd column_: ranking
### _3rd column_: player_id, _4th column_: ranking (ATP Ranks?)
### Conclusion: whole column seems in order top-to_bottom
    * _I changed the readme.md filename to something else_

In [55]:
def readAllMatches(dirname):
    allFiles = glob.glob(dirname + "/atp_matches_2" + "*.csv")
    matches = pd.DataFrame()
    list_ = list()
    for filen in allFiles:
        df = pd.read_csv(filen,
                         index_col=None,
                         header=0,
                         parse_dates=[0])
                         #date_parser=lambda t:parse(t))
        list_.append(df)
    matches = pd.concat(list_)
    return matches

In [56]:
matches2000s=readAllMatches('JeffSackmannData/')

In [57]:
matches2000s.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,winner_rank,winner_rank_points,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank,loser_rank_points,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2005-891,Chennai,Hard,32,A,20050103,1,102845,1.0,NaN,Carlos Moya,R,190.0,ESP,28.353183,NaN,NaN,102382,NaN,Q,Julian Knowle,L,188.0,AUT,30.683094,NaN,NaN,6-4 7-6(4),3,R32,90.0,13.0,2.0,60.0,35.0,28.0,19.0,11.0,0.0,1.0,4.0,3.0,70.0,43.0,31.0,14.0,11.0,2.0,4.0
1,2005-891,Chennai,Hard,32,A,20050103,2,102730,NaN,NaN,Ivo Heuberger,R,188.0,SUI,28.873374,NaN,NaN,104250,NaN,WC,Prakash Amritraj,R,188.0,IND,21.256674,NaN,NaN,6-4 6-4,3,R32,78.0,11.0,0.0,53.0,37.0,32.0,12.0,10.0,4.0,4.0,3.0,3.0,65.0,38.0,22.0,17.0,10.0,4.0,6.0
2,2005-891,Chennai,Hard,32,A,20050103,3,103908,NaN,NaN,Paul Henri Mathieu,R,185.0,FRA,22.976044,NaN,NaN,104386,NaN,NaN,Janko Tipsarevic,R,180.0,SRB,20.533881,NaN,NaN,6-3 6-4,3,R32,62.0,9.0,4.0,57.0,28.0,25.0,19.0,10.0,2.0,2.0,7.0,2.0,45.0,24.0,18.0,11.0,9.0,0.0,2.0
3,2005-891,Chennai,Hard,32,A,20050103,4,102202,5.0,NaN,Kenneth Carlsen,L,190.0,DEN,31.715264,NaN,NaN,103174,NaN,NaN,Noam Okun,R,185.0,ISR,26.718686,NaN,NaN,7-6(0) 6-4,3,R32,88.0,2.0,1.0,61.0,44.0,34.0,13.0,11.0,0.0,0.0,5.0,4.0,71.0,50.0,37.0,9.0,11.0,1.0,2.0
4,2005-891,Chennai,Hard,32,A,20050103,5,103535,NaN,NaN,Olivier Patience,R,180.0,FRA,24.777550,NaN,NaN,102783,3.0,NaN,Rainer Schuettler,R,180.0,GER,28.692676,NaN,NaN,6-2 6-2,3,R32,72.0,2.0,6.0,45.0,18.0,13.0,15.0,8.0,0.0,2.0,1.0,6.0,77.0,41.0,23.0,11.0,8.0,10.0,16.0

In [58]:
matches2000s.tail(3)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,winner_rank,winner_rank_points,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,loser_rank,loser_rank_points,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
3022,2012-D080,Davis Cup G1 PO: SVK vs POR,Hard,4,D,20120914,1,105373,NaN,NaN,Martin Klizan,L,190.0,SVK,23.167693,46.0,898.0,105671,NaN,NaN,Gastao Elias,R,178.0,POR,21.796030,154.0,349.0,3-6 6-2 7-6(4) 6-2,5,RR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3023,2012-D080,Davis Cup G1 PO: SVK vs POR,Hard,4,D,20120914,2,105311,NaN,NaN,Joao Sousa,R,NaN,POR,23.449692,107.0,516.0,105041,NaN,NaN,Lukas Lacko,R,185.0,SVK,24.854209,57.0,778.0,6-4 6-4 6-3,5,RR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3024,2012-D080,Davis Cup G1 PO: SVK vs POR,Hard,4,D,20120914,3,105373,NaN,NaN,Martin Klizan,L,190.0,SVK,23.167693,46.0,898.0,105311,NaN,NaN,Joao Sousa,R,NaN,POR,23.449692,107.0,516.0,6-2 7-5 6-7(9) 6-1,5,RR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
# all values were objects until set 'header=0' in pd.read_csv()
matches2000s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57422 entries, 0 to 3024
Data columns (total 49 columns):
tourney_id            57422 non-null object
tourney_name          57422 non-null object
surface               57304 non-null object
draw_size             57422 non-null int64
tourney_level         57422 non-null object
tourney_date          57422 non-null int64
match_num             57422 non-null int64
winner_id             57422 non-null int64
winner_seed           23878 non-null float64
winner_entry          6753 non-null object
winner_name           57422 non-null object
winner_hand           57406 non-null object
winner_ht             52970 non-null float64
winner_ioc            57422 non-null object
winner_age            57399 non-null float64
winner_rank           56335 non-null float64
winner_rank_points    56335 non-null float64
loser_id              57422 non-null int64
loser_seed            12924 non-null float64
loser_entry           11264 non-null object
loser_name            57422 non-null object
loser_hand            57379 non-null object
loser_ht              50414 non-null float64
loser_ioc             57422 non-null object
loser_age             57380 non-null float64
loser_rank            55583 non-null float64
loser_rank_points     55583 non-null float64
score                 57421 non-null object
best_of               57422 non-null int64
round                 57422 non-null object
minutes               50374 non-null float64
w_ace                 51621 non-null float64
w_df                  51621 non-null float64
w_svpt                51621 non-null float64
w_1stIn               51621 non-null float64
w_1stWon              51621 non-null float64
w_2ndWon              51621 non-null float64
w_SvGms               51621 non-null float64
w_bpSaved             51621 non-null float64
w_bpFaced             51621 non-null float64
l_ace                 51621 non-null float64
l_df                  51621 non-null float64
l_svpt                51621 non-null float64
l_1stIn               51621 non-null float64
l_1stWon              51621 non-null float64
l_2ndWon              51621 non-null float64
l_SvGms               51621 non-null float64
l_bpSaved             51621 non-null float64
l_bpFaced             51621 non-null float64
dtypes: float64(29), int64(6), object(14)
memory usage: 21.9+ MB